# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.Python
venv/
env/

# PyInstaller
build/
dist/
*.spec

# İşletim Sistemi Geçici Dosyaları
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo